<h1
class="w-100 height pb-5 text-dark-opacity-75 d-flex justify-content-center align-items-center gap-2"
*ngIf="mostrarSpinner">
  <app-spinner
  [clase]="'primary'">
  </app-spinner>
  Cargando contenido...
</h1>

<h2
class="w-100 height pb-5 p-3 d-flex justify-content-center align-items-center gap-2 bg-dark bg-opacity-50 text-white rounded shadow"
*ngIf="mostrarErrorEnBusqueda">
  No se han obtenido resultados en la búsqueda :( <br>
  Inténtelo nuevamente verificando los datos.
</h2>

<a
routerLink="/menu"
class="text-decoration-none position-absolute fixed-top m-3">
  <button class="btn btn-primary d-flex align-items-center gap-2">
    <span class="material-symbols-outlined">
      arrow_back
    </span>
    Volver al menú
  </button>
</a>

<app-details-card
*ngIf="!mostrarSpinner"
[plato]="platoSolicitado">
</app-details-card>

