<div id="card" class="card bg-light bg-opacity-75 shadow">

  <img src="{{plato.image}}"
  alt="Imagen de {{plato.title}}"
  class="card-img-top">

  <div class="card-body">
    <p class="card-title fs-4 fw-bold">
      {{plato.title}}
    </p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item py-2 bg-light bg-opacity-25">
      <span class="fw-bold">
        Precio:
      </span>
      {{plato.pricePerServing | currency}}
    </li>

    <li class="list-group-item py-2 bg-light bg-opacity-25">
      <span class="fw-bold">
        Preparación:
      </span>
      {{plato.readyInMinutes | horasYminutosPipe}}
    </li>

    <li class="list-group-item py-2 bg-light bg-opacity-25">
      <span class="fw-bold">
        Vegano:
      </span>
      <!--CONDICIONALES PARA MOSTRAR UN "SI" SI ES VEGANO Y UN "NO" SI NO LO ES-->
      <span *ngIf="plato.vegan">Si</span>
      <span *ngIf="!plato.vegan">No</span>
    </li>
  </ul>

  <div class="card-body d-flex gap-3 justify-content-center align-items-center pt-4">

    <a routerLink="/details/{{plato.id}}">
      <button
      class="btn btn-info text-white">
        Ver detalles
      </button>
    </a>

    <button
    class="btn btn-{{claseBotonMenu}}"
    (click)="capturarPlatoClickeado(plato)">
      {{textoBotonMenu}}
  </button>
  </div>

</div>
