.fondo{
  height: 100vh;
  background: linear-gradient(to right, white, blue);
}

form {
  width: 30%;
}

@media screen and (max-width: 1200px){
  form{
    width: 45%;
  }
}

@media screen and (max-width: 768px){
  form{
    width: 65%;
  }
}

@media screen and (max-width: 500px){
  form{
    width: 75%;
  }
}
