<nav class="navbar navbar-expand-md navbar-dark bg-primary px-sm-5 px-3">
  <a class="navbar-brand fw-bold fs-3 mb-1" routerLink="/">A la carta</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mb-2 mb-md-0" id="navbarNavAltMarkup">
    <div class="navbar-nav w-100 d-flex justify-content-between">
      <div class="d-md-flex">
        <a
          class="nav-item nav-link"
          routerLink="/home">
          Home
        </a>
        <a
          class="nav-item nav-link"
          routerLink="/menu">
          Ver menú
        </a>
      </div>
      <button
      class="btn btn-outline-light"
      (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>
  </div>
</nav>
