.altura{
  height: 100vh;
}

.add_scroll{
  height: 370px;
  overflow-y: scroll;
}

@media  screen and (max-width: 992px) {
  .altura{
    height: auto;
  }

  .add_scroll{
    height: auto;
    overflow-y: auto;
  }
}
